@use '../susanoo';
@use '../grid/variables' as grid;
@use '../popup/mixins' as popup;

.new-todo {
    @include popup.popup($maxWidth: 600);
    form {
        display: flex;
        flex: {
            direction: column;
        }
    }
    .button {
        margin: {
            top: susanoo.rem-calc(32);
        }
        align-self: flex-end;
        &.icon-cross {
            position: absolute;
            top: calc(#{grid.$border-radius} * -1.75);
            right: calc(#{grid.$border-radius} * -0.5);
        }
    }
}