@use '../susanoo';
@use '../grid/variables' as grid;

.new-todo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.3);
    background: {
        image: linear-gradient(to right bottom, grid.$main-linear-gradient-color-1, grid.$main-linear-gradient-color-2);
    }
    padding: susanoo.rem-calc(24);
    border: {
        radius: calc(#{grid.$border-radius} / 2);
    }
    width: 90vw;
    max: {
        width: susanoo.rem-calc(600);
    }
    opacity: 0;
    z-index: -1;
    transition: opacity 0.2s linear, transform 0.3s linear;
    &.is-active {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        z-index: 2;
    }
    form {
        display: flex;
        flex: {
            direction: column;
        }
    }
    .button {
        margin: {
            top: susanoo.rem-calc(32);
        }
        align-self: flex-end;
        &.icon-cross {
            position: absolute;
            top: calc(#{grid.$border-radius} * -1.75);
            right: calc(#{grid.$border-radius} * -0.5);
        }
    }
}