@use '../susanoo';

label {
    margin: {
        bottom: susanoo.rem-calc(8);
    }
}

input,
textarea {
    border: {
        style: unset;
        width: unset;
        color: unset;
    }
    &:focus,
    &:focus-within {
        outline: {
            color: #5fd1ce;
        }
    }
}

input {
    margin: {
        bottom: susanoo.rem-calc(16);
    }
    border: {
        radius: susanoo.rem-calc(50);
    }
    padding: 4px susanoo.rem-calc(12);
    &[type="file"] {
        background: {
            color: white;
        }
    }
    &.is-invalid {
        border: {
            style: solid;
            width: 2px;
            color: #df2040;
        }
        margin: {
            bottom: susanoo.rem-calc(4);
        }
    }
}

textarea {
    border: {
        radius: susanoo.rem-calc(10);
    }
    resize: none;
    height: susanoo.rem-calc(100);
    padding: susanoo.rem-calc(6) susanoo.rem-calc(12);
}

form {
    --gap: #{susanoo.rem-calc(20)};

    .col-half {
        display: flex;
        flex: {
            direction: column;
        }
        width: 100%;
        min: {
            width: calc(50% - var(--gap));
        }
        @media only screen and (max-width: 940px) {
            max: {
                width: unset;
            }
        }
        @media only screen and (max-width: 640px) {
            min: {
                width: unset;
            }
        }
    }
    .row {
        display: flex;
        gap: var(--gap);
        width: 100%;
        @media only screen and (max-width: 940px) {
            gap: unset;
            flex: {
                direction: column;
            }
        }
    }
}

.error-message {
    color: #df2040;
    margin: {
        bottom: susanoo.rem-calc(16);
    }
}