@use '../susanoo';
@use '../grid/mixins' as grid;
@use '../grid/variables' as gridVariables;

.intro-panel {
    --padding-top: #{susanoo.rem-calc(24)};
    --column-medium: 10 / 12;
    --column-large: 6 / 10;

    @include grid.grid-item();
    background: {
        image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    }
    padding: {
        top: var(--padding-top);
        bottom: var(--padding-top);
        left: susanoo.rem-calc(80);
        right: susanoo.rem-calc(68);
    }
    border: {
        radius: gridVariables.$border-radius;
    }
    @media only screen and (max-width: 640px) {
        border: {
            radius: unset;
        }
        padding: susanoo.rem-calc(12) susanoo.rem-calc(24);
    }
}