@use '../susanoo';
@use '../grid/variables' as grid;

.intro-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: {
        image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    }
    width: susanoo.rem-calc(700);
    max: {
        width: susanoo.rem-calc(1440);
    }
    padding: susanoo.rem-calc(24) susanoo.rem-calc(80);
    border: {
        radius: grid.$border-radius;
    }
    @media only screen and (max-width: 940px) {
        width: 80vw;
    }
    @media only screen and (max-width: 640px) {
        width: 90vw;
        padding: susanoo.rem-calc(12) susanoo.rem-calc(24);
    }
}