@use '../susanoo';
@use '../grid/variables' as grid;
@use '../lists';
@use 'variables';

.nav-aside {
    z-index: 1;
}

.main-navigation {
    display: flex;
    flex: {
        direction: column;
    }
    padding: susanoo.rem-calc(24);
    background: {
        image: linear-gradient(to right top, #5fd1ce, #65aaec);
    }
    border-bottom-left-radius: grid.$border-radius;
    width: variables.$navigation-width;
    height: 100%;
    transition: transform 0.2s linear;
    color: white;
    @media only screen and (max-width: 940px) {
        transform: translateX(#{susanoo.rem-calc(-300)});
    }
    &.is-active {
        transform: translateX(0);
    }
    .profile {
        display: flex;
        align-items: center;
        .content {
            margin: {
                left: susanoo.rem-calc(12);
            }
        }
    }
    .image-wrapper {
        --circle: #{susanoo.rem-calc(100)};

        width: var(--circle);
        height: var(--circle);
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: {
            radius: 50%;
        }
    }
    .actions {
        @include lists.reset-list();
        display: flex;
        flex: {
            direction: column;
        }
        margin: {
            top: susanoo.rem-calc(24);
            bottom: susanoo.rem-calc(48);
        }
        gap: susanoo.rem-calc(24);
        span {
            display: block;
            margin: {
                left: susanoo.rem-calc(24);
            }
        }
        button {
            margin: {
                right: susanoo.rem-calc(24);
            }
            > span {
                display: inline-block;
            }
        }
    }
    li {
        display: flex;
        align-items: center;
    }
    .credits {
        margin: {
            top: auto;
        }
    }
}