@use '../susanoo';
@use '../grid/variables' as grid;
@use '../lists';
@use 'variables';

.nav-aside {
    z-index: 1;
    transition: transform 0.2s linear;
    @media only screen and (max-width: 940px) {
        transform: translateX(calc(#{variables.$navigation-width} / -1));
    }
    &.is-active {
        transform: translateX(0);
    }
}

.main-navigation {
    display: flex;
    flex: {
        direction: column;
    }
    padding: susanoo.rem-calc(24);
    background: {
        image: var(--main-navigation-background-color);
    }
    border-bottom-left-radius: grid.$border-radius;
    width: variables.$navigation-width;
    height: 100%;
    color: white;
    .actions {
        @include lists.reset-list();
        display: flex;
        flex: {
            direction: column;
        }
        margin: {
            top: susanoo.rem-calc(24);
            bottom: susanoo.rem-calc(48);
        }
        gap: susanoo.rem-calc(24);
        span {
            display: block;
            margin: {
                left: susanoo.rem-calc(24);
            }
        }
        button {
            margin: {
                right: susanoo.rem-calc(24);
            }
            > span {
                display: inline-block;
            }
        }
    }
    li {
        display: flex;
        align-items: center;
    }
    .credits {
        margin: {
            top: auto;
        }
    }
}