@use '../susanoo';

@mixin glowing-hover {
    transition: all 0.3s linear;
    overflow: hidden;
    height: 100%;
    border: {
        radius: 50%;
    }
    &:hover {
        &::after {
            transform: translateX(100%) rotate(45deg);
        }
    }
    &::after {
        content: '';
        position: absolute;
        background: {
            color: white;
        }
        top: 40%;
        left: 0;
        width: 150%;
        height: susanoo.rem-calc(6);
        transform: translateX(-100%) rotate(45deg);
        transition: all 0.3s linear;
    }
}