@use '../susanoo';
@use 'variables';

.notification {
    padding: susanoo.rem-calc(24);
    background: {
        color: variables.$background-color;
    }
    border: {
        radius: susanoo.rem-calc(10);
    }
    margin: {
        bottom: susanoo.rem-calc(24);
    }
    display: none;
    > span {
        display: block;
        text-align: center;
        color: variables.$span-color;
    }
    &.is-active {
        display: block;
    }
}