@use '../susanoo';

.notification {
    display: none;
    padding: susanoo.rem-calc(24);
    background: {
        color: var(--notice-background-color, var(--primary-theme-color));
    }
    border: {
        radius: susanoo.rem-calc(10);
    }
    margin: {
        bottom: susanoo.rem-calc(24);
    }
    transition: background-color 0.2s linear;
    > span {
        display: block;
        text-align: center;
        color: white;
    }
    &.is-active {
        display: block;
    }
}