@use '../susanoo';
@use '../grid/variables' as grid;

.intro-panel {
    &.login {
        @media only screen and (max-width: 640px) {
            position: fixed;
            width: 90vw;
            height: unset;
            transform: translate(-50%, -50%);
            border: {
                radius: grid.$border-radius;
            }
        }
    }
    .login-input {
        &:not(&.is-invalid) {
            margin: {
                bottom: susanoo.rem-calc(16);
            }
        }
    }
    .headline {
        color: #65aaec;
        text-align: center;
    }
    form {
        display: flex;
        flex: {
            direction: column;
        }
    }
    .footer {
        margin: {
            top: susanoo.rem-calc(24);
        }
        text: {
            align: center;
        }
    }
}