@use '../susanoo';

.intro-panel {
    .login-input {
        &:not(&.is-invalid) {
            margin: {
                bottom: susanoo.rem-calc(16);
            }
        }
    }
    .headline {
        color: #65aaec;
        text-align: center;
    }
    form {
        display: flex;
        flex: {
            direction: column;
        }
    }
    .footer {
        margin: {
            top: susanoo.rem-calc(24);
        }
        text: {
            align: center;
        }
    }
}