@use '../susanoo';
@use '../grid/variables' as grid;
@use 'variables';

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.3);
    background: {
        image: linear-gradient(to right bottom, grid.$main-linear-gradient-color-1, grid.$main-linear-gradient-color-2);
    }
    padding: variables.$padding;
    border: {
        radius: calc(#{grid.$border-radius} / 2);
    }
    width: 90vw;
    max: {
        width: susanoo.rem-calc(1000);
        height: variables.$height;
    }
    opacity: 0;
    z-index: -1;
    transition: opacity 0.2s linear, transform 0.3s linear;
    &.is-active {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        z-index: 2;
    }
    &.legals {
        .headline {
            color: #2891f5;
        }
        li {
            &:not(:first-child) {
                margin: {
                    top: susanoo.rem-calc(12);
                }
            }
        }
    }
    .container {
        overflow-y: scroll;
        max: {
            height: calc(#{susanoo.rem-calc(800)} - #{variables.$padding} * 4);
        }
        &::-webkit-scrollbar {
            width: susanoo.rem-calc(36);
        }
        &::-webkit-scrollbar-thumb {
            border: susanoo.rem-calc(12) solid rgba(0, 0, 0, 0);
            background-clip: padding-box;
            background: {
                color: #68ddd5;
            }
            border: {
                radius: susanoo.rem-calc(30);
            }
            &:hover {
                background: {
                    color: #65aaec;
                }
            }
        }
    }
    .button {
        margin: {
            top: susanoo.rem-calc(32);
        }
        align-self: flex-end;
        &.icon-cross {
            position: absolute;
            top: calc(#{grid.$border-radius} * -1.75);
            right: calc(#{grid.$border-radius} * -0.5);
        }
    }
}