@use '../susanoo';
@use '../grid/variables' as grid;
@use '../utils';
@use 'variables';
@use 'mixins';

.popup {
    @include mixins.popup();
    &.legals {
        .headline {
            color: #2891f5;
        }
        li {
            &:not(:first-child) {
                margin: {
                    top: susanoo.rem-calc(12);
                }
            }
        }
    }
    .container {
        max: {
            height: calc(80vh - #{variables.$padding} * 4);
        }
        overflow-y: scroll;
        @include utils.scrollbar();
    }
    .button {
        margin: {
            top: susanoo.rem-calc(32);
        }
        align-self: flex-end;
        &.icon-cross {
            position: absolute;
            top: calc(#{grid.$border-radius} * -1.75);
            right: calc(#{grid.$border-radius} * -0.5);
        }
    }
}