$icon-sizes: (
    "xsmall": 16px,
    "small": 20px,
    "default": 24px,
    "big": 30px,
);

$icon-linkedin: "\e902";
$icon-twitter: "\e901";
$icon-menu: "\e906";
$icon-github: "\eab0";
$icon-sticky-note: "\e903";
$icon-note-checked: "\e900";
$icon-check: "\e904";
$icon-bubble: "\e96b";
$icon-cross: "\e905";
$icon-cog: "\e909";
$icon-log-out: "\e90a";
$icon-moon: "\e908";
$icon-light-up: "\e907";