@use "../susanoo";
@use "variables";

body {
    font: {
        family: variables.$font-family;
    }
    background: {
        image: linear-gradient(to right top, #65dfc9, #6cdbeb);
    }
    min: {
        height: 100vh;
    }
}

.app-container {
    background: {
        image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    }
    margin: {
        top: susanoo.rem-calc(48);
        bottom: susanoo.rem-calc(48);
    }
    min: {
        height: susanoo.rem-calc(700);
    }
    border: {
        radius: susanoo.rem-calc(24);
    }
}

.wrapper {
    max: {
        width: susanoo.rem-calc(1440);
    }
    margin: 0 auto;
}

.inner-wrapper {
    @include susanoo.breakpoint(large-m) {
        padding: 0 susanoo.rem-calc(160);
    }
}