@use "../susanoo";
@use "variables";
@use '../todos/variables' as todos;

html {
    &::-webkit-scrollbar {
        width: susanoo.rem-calc(14);
    }
    &::-webkit-scrollbar-thumb {
        background: {
            color: todos.$scrollbar-hover-background-color;
        }
        border: {
            radius: susanoo.rem-calc(15);
        }
        &:hover {
            background: {
                color: variables.$html-scrollbar-hover-background-color;
            }
        }
    }
}

body {
    font: {
        family: variables.$font-family;
    }
    background: {
        image: linear-gradient(to right top, variables.$body-linear-gradient-color-1, variables.$body-linear-gradient-color-2);
    }
    min: {
        height: 100vh;
    }
}

.app-container {
    margin: {
        top: susanoo.rem-calc(48);
        bottom: susanoo.rem-calc(48);
    }
    @media only screen and (max-width: 640px) {
        margin: unset;
    }
}

main {
    background: {
        image: linear-gradient(to right bottom, variables.$main-linear-gradient-color-1, variables.$main-linear-gradient-color-2);
    }
    border-bottom-left-radius: variables.$border-radius;
    border-bottom-right-radius: variables.$border-radius;
    @media only screen and (max-width: 640px) {
        border: {
            radius: unset;
        }
    }
}

.wrapper {
    max: {
        width: susanoo.rem-calc(1440);
    }
    margin: 0 auto;
}

.inner-wrapper {
    @include susanoo.breakpoint(large-m) {
        padding: 0 susanoo.rem-calc(160);
    }
}