@use '../susanoo';

$font-family: "Noto Sans JP", sans-serif;
$border-radius: susanoo.rem-calc(24);
$body-linear-gradient-color-1: #65dfc9;
$body-linear-gradient-color-2: #6cdbeb;
$main-linear-gradient-color-1: rgba(255, 255, 255, 0.7);
$main-linear-gradient-color-2: rgba(255, 255, 255, 0.3);