@use '../susanoo';

$font-family: "Noto Sans JP", sans-serif;
$border-radius: susanoo.rem-calc(24);
$body-linear-gradient-color-1: #65dfc9;
$body-linear-gradient-color-2: #6cdbeb;
$main-linear-gradient-color-1: rgba(255, 255, 255, 0.7);
$main-linear-gradient-color-2: rgba(255, 255, 255, 0.3);
$html-scrollbar-hover-background-color: #ff6767;
$grid-columns: 12;

@property --background-color-1 {
    syntax: '<color>';
    initial-value: #16ab9a;
    inherits: false;
}

@property --background-color-2 {
    syntax: '<color>';
    initial-value: #4bc9bb;
    inherits: false;
}
