@use '../susanoo';
@use 'variables';
@use '../main-navigation/variables' as navigation;

.page-body {
    display: flex;
    .todos-container {
        padding: susanoo.rem-calc(24);
        flex: {
            grow: 1;
        }
        * {
            &:not(button) {
                color: variables.$color;
            }
        }
        @media only screen and (max-width: 940px) {
            margin: {
                left: calc(#{navigation.$navigation-width } / -1);
            }
        }
    }
}