@use '../susanoo';
@use '../icons';
@use 'variables';

button {
    background: {
        color: unset;
    }
    border: unset;
    cursor: pointer;
}

.button {
    --circle: #{susanoo.rem-calc(26)};
    --background-color: #{variables.$background-hover-color};

    position: relative;
    width: var(--circle);
    height: var(--circle);
    background: {
        color: variables.$background-color;
    }
    border: {
        radius: 50%;
    }
    transition: background-color 0.2s linear, transform 0.2s linear;
    &:hover,
    &--big:hover {
        background: {
            color: var(--background-color);
        }
    }
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 #{susanoo.rem-calc(16)} #{susanoo.rem-calc(32)} rgba(black, 0.2);
        &::after {
            transform: scale(1.3);
            opacity: 0;
        }
    }
    &::before {
        @include susanoo.icon(null, true);
        @include susanoo.absolute-center();
        color: variables.$before-color;
        font: {
            size: map-get(icons.$icon-sizes, 'big');
        }
    }
    &::after {
        content: "";
        height: 100%;
        width: 100%;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: transform 0.4s, opacity 0.3s;
        background: {
            color: var(--background-color);
        }
    }
    &-primary {
        --border-radius: #{susanoo.rem-calc(8)};

        width: unset;
        height: unset;
        padding: susanoo.rem-calc(8) susanoo.rem-calc(16);
        border: {
            radius: var(--border-radius);
        }
        &::after {
            border: {
                radius: var(--border-radius);
            }
        }
    }
    &.icon-configs {
        &::before {
            @include susanoo.icon(icons.$icon-cog, false);
        }
    }
    &.icon-menu {
        &::before {
            @include susanoo.icon(icons.$icon-menu, false);
        }
    }
    &.icon-check {
        &::before {
            @include susanoo.icon(icons.$icon-check, false);
            font: {
                size: map-get(icons.$icon-sizes, 'small');
            }
        }
    }
    &.icon-bubble {
        &::before {
            @include susanoo.icon(icons.$icon-bubble, false);
            font: {
                size: map-get(icons.$icon-sizes, 'xsmall');
            }
        }
    }
    &.icon-cross {
        &::before {
            @include susanoo.icon(icons.$icon-cross, false);
            font: {
                size: map-get(icons.$icon-sizes, 'small');
            }
        }
    }
    &--medium {
        width: calc(var(--circle) * 1.5);
        height: calc(var(--circle) * 1.5);
    }
    &--big {
        width: calc(var(--circle) * 2.5);
        height: calc(var(--circle) * 2.5);
    }
}