@use '../susanoo';
@use '../icons';
@use 'variables';
@use 'animations';

button {
    background: {
        color: unset;
    }
    border: unset;
    cursor: pointer;
}

.button {
    --circle: #{susanoo.rem-calc(26)};

    position: relative;
    width: var(--circle);
    height: var(--circle);
    background: {
        color: var(--button-background-color, var(--primary-theme-color));
    }
    border: {
        radius: 50%;
    }
    transition: background-color 0.2s linear, transform 0.2s linear;
    &:hover,
    &--big:hover {
        background: {
            color: var(--button-hover-background-color, var(--primary-theme-color));
        }
    }
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 #{susanoo.rem-calc(16)} #{susanoo.rem-calc(32)} rgba(black, 0.2);
        &::after {
            transform: scale(1.3);
            opacity: 0;
        }
    }
    &:disabled {
        background: {
            color: #A9A9A9;
        }
        span {
            visibility: hidden;
        }
        &[class*='icon'] {
            &::before {
                content: "";
                width: calc(var(--circle) / 2);
                height: calc(var(--circle) / 2);
            }
        }
        &::before {
            content: "";
            @include susanoo.absolute-center();
            width: var(--circle);
            height: var(--circle);
            border: {
                radius: 50%;
                left: {
                    style: solid;
                    width: 2px;
                    color: var(--button-background-color, white);
                }
            }
            animation: rotate 0.75s linear infinite;
        }
        &::after {
            content: unset;
        }
        &:hover {
            transform: unset;
            box-shadow: unset;
            cursor: unset;
        }
    }
    &::before {
        @include susanoo.icon(null, true);
        @include susanoo.absolute-center();
        color: var(--button-before-color);
        font: {
            size: map-get(icons.$icon-sizes, 'big');
        }
        transition: color 0.2s linear;
    }
    &::after {
        content: "";
        height: 100%;
        width: 100%;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: transform 0.4s, opacity 0.3s;
        background: {
            color: var(--button-hover-background-color, var(--primary-theme-color));
        }
    }
    &-primary {
        --border-radius: #{susanoo.rem-calc(8)};

        width: unset;
        height: unset;
        color: variables.$primary-color;
        padding: susanoo.rem-calc(8) susanoo.rem-calc(16);
        border: {
            radius: var(--border-radius);
        }
        &::after {
            border: {
                radius: var(--border-radius);
            }
        }
    }
    &[class*='icon'] {
        > span {
            display: none;
        }
    }
    &.icon-configs {
        &::before {
            @include susanoo.icon(icons.$icon-cog, false);
        }
    }
    &.icon-menu {
        &.is-active {
            &::before {
                @include susanoo.icon(icons.$icon-cross, false);
            }
        }
        &::before {
            @include susanoo.icon(icons.$icon-menu, false);
        }
    }
    &.icon-check {
        &::before {
            @include susanoo.icon(icons.$icon-check, false);
            font: {
                size: map-get(icons.$icon-sizes, 'small');
            }
        }
    }
    &.icon-bubble {
        &::before {
            @include susanoo.icon(icons.$icon-bubble, false);
            font: {
                size: map-get(icons.$icon-sizes, 'xsmall');
            }
        }
    }
    &.icon-cross {
        &::before {
            @include susanoo.icon(icons.$icon-cross, false);
            font: {
                size: map-get(icons.$icon-sizes, 'small');
            }
        }
    }
    &.icon-light-up {
        &::before {
            @include susanoo.icon(icons.$icon-light-up, false);
            font: {
                size: map-get(icons.$icon-sizes, 'medium');
            }
        }
    }
    &.icon-moon {
        &::before {
            @include susanoo.icon(icons.$icon-moon, false);
            font: {
                size: map-get(icons.$icon-sizes, 'medium');
            }
        }
    }
    &--medium {
        width: calc(var(--circle) * 1.5);
        height: calc(var(--circle) * 1.5);
    }
    &--big {
        width: calc(var(--circle) * 2.5);
        height: calc(var(--circle) * 2.5);
    }
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin: {
        top: susanoo.rem-calc(16);
    }
}

.circle {
    > span {
        display: none;
    }
}