@use '../susanoo';

.intro-panel {
    &.register {
        .container {
            display: flex;
            flex: {
                direction: column;
            }
        }
        form {
            flex: {
                wrap: wrap;
            }
        }
        input {
            margin: {
                bottom: susanoo.rem-calc(16);
            }
        }
    }
}